site_name: BMEVIAUAB00 Szoftvertechnikák
site_author: Benedek Zoltán
copyright: Copyright &copy; BME VIK AUT
repo_name: bmeviauab00/szoftvertechnikak
repo_url: https://github.com/bmeviauab00/szoftvertechnikak
site_url: https://bmeviauab00.github.io/szoftvertechnikak/

theme:
  name: material
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github
  language: hu
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: aut
      primary: aut
      accent: red
      toggle:
        icon: material/lightbulb-outline
        name: Váltás sötét témára
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      toggle:
        icon: material/lightbulb
        name: Váltás világos témára
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.top
    - search.suggest
    - content.action.edit
    - toc.follow
  logo: img/logo-bme-aut.png
  favicon: img/favicon.ico

extra_css:
  - extra-material-theme.css

extra:
  generator: false
  version:
    provider: mike

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed
  - pymdownx.tilde
  - pymdownx.keys
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - attr_list


plugins:
  - search
  - glightbox
  - git-revision-date-localized:
      # override from docker environment variables
      # not a vanilla yaml syntax, only works with mkdocs.yaml because of pyyaml_env_tag
      enabled: !ENV [IsRevisionDatePluginEnabled, false]
      enable_creation_date: false
      type: timeago
      timezone: Europe/Budapest
      locale: hu
  - git-committers:
      # override from docker environment variables
      # not a vanilla yaml syntax, only works with mkdocs.yaml because of pyyaml_env_tag
      enabled: !ENV [IsAuthorsPluginEnabled, false]
      github_token: !ENV [GITHUB_TOKEN, '']
      repository: bmeviauab00/szoftvertechnikak
      branch: main

nav:
  - index.md
  - "Laborok":
      - labor/1-model-es-kod-kapcsolata/index.md
      - labor/2-nyelvi-eszkozok/index.md
      - labor/3-felhasznaloi-felulet/index.md
      - labor/4-tobbszalu/index.md
      - labor/5-mvvm/index.md
      - labor/6-tervezesi-mintak/index.md      
      - labor/7-adatkezeles/index.md      
  - "Önálló/házi feladatok":
      - 'Útmutató': hazi/index.md
      - '1. HF - A modell és a kód kapcsolata': hazi/1-model-es-kod-kapcsolata/index.md
      - '2. HF - Nyelvi eszközök': hazi/2-nyelvi-eszkozok/index.md
      - '3. HF - Felhasználói felület kialakítása': hazi/meghirdetes-elott.md
      - '4. HF - Többszálú alkalmazások fejlesztése': hazi/meghirdetes-elott.md
      - '5. HF - MVVM': hazi/meghirdetes-elott.md
      - '6. HF - Tervezési minták': hazi/meghirdetes-elott.md
      - 'Fejlesztőkörnyezet': hazi/fejlesztokornyezet/index.md
  - "English course labs":
      - labor/1-model-es-kod-kapcsolata/index_eng.md
      - labor/2-nyelvi-eszkozok/index_eng.md
      - labor/3-felhasznaloi-felulet/index_eng.md
      - labor/4-tobbszalu/index_eng.md
      - labor/5-mvvm/index_eng.md
      - labor/6-tervezesi-mintak/index_eng.md      
      - labor/7-adatkezeles/index_eng.md 
  - "Deutschkurs-Labore":
      - labor/1-model-es-kod-kapcsolata/index_ger.md
      - labor/2-nyelvi-eszkozok/index_ger.md
      - labor/3-felhasznaloi-felulet/index_ger.md
      - labor/4-tobbszalu/index_ger.md
      - labor/5-mvvm/index_ger.md
      - labor/6-tervezesi-mintak/index_ger.md      
      - labor/7-adatkezeles/index_ger.md
  - "Hausaufgaben":
      - '1. Beziehung zwischen dem Modell und dem Code': hazi/meghirdetes-elott_ger.md
      - '2. Sprachliche Mittel': hazi/meghirdetes-elott_ger.md
      - '3. Gestaltung der Benutzeroberfläche': hazi/meghirdetes-elott_ger.md
      - '4. Entwicklung von Multithreading-Anwendungen': hazi/meghirdetes-elott_ger.md
      - '5. MVVM': hazi/meghirdetes-elott_ger.md
      - '6. Entwurfsmuster': hazi/meghirdetes-elott_ger.md
      - 'Entwicklungsumgebung': hazi/fejlesztokornyezet/index_ger.md
